[2014-02-06 18:42] barryvdh opened #2 "Optionally don't strip all tags"
Hey,

Just a heads up, using `setStripOriginalStyleTags` does save bytes, but it also removes media styles (and pseudo selectors). So for responsive newsletters, you probably don't want that. Maybe make it a config or something. (Or fix this issue https://github.com/tijsverkoyen/CssToInlineStyles/issues/45 ;))

[2014-02-06 22:17] #2 closed, assigned to nobody

[2014-03-28 22:38] vincentkessels opened #5 "Not yet compatible with laravel framework v4.2.x"
Installing this package using composer gives an incompatibility error. This is a part of the error message:

 Problem 1
    - Installation request for fedeisas/laravel-mail-css-inliner dev-master -> satisfiable by fedeisas/laravel-mail-css-inliner[dev-master].
    - Conclusion: remove laravel/framework 4.2.x-dev
    - fedeisas/laravel-mail-css-inliner dev-master requires illuminate/support 4.1.\*

[2014-04-04 16:27] #5 closed, assigned to nobody

[2014-05-30 04:04] RicardoRamirezR opened #6 "Composer update issue"
[code]

[2014-05-30 15:32] #6 closed, assigned to nobody

[2014-06-04 17:37] AntoineAugusti opened #7 "Working with Mailgun"
Hi!

I'm using Laravel 4.2.1 and the CSS doesn't get inlined when using Mailgun. Since 4.2 Mailgun is an email provider in Laravel.

I think that the send event is not caught when calling the Mailgun API. This is tricky because the email is not sent using Swift Mailer. A good idea would be to listen to  the `mailer.sending` event but it is currently throw just with swift messages and not with othe

[2014-06-06 21:50] d13r opened #8 "Upgrade CssToInlineStyles dependency"
Could you update from `1.2.*` to `1.3.*` (or just `1.*`)? It fixes a few bugs including [handling tags with no space after the class attribute](https://github.com/tijsverkoyen/CssToInlineStyles/pull/33) which is breaking my emails. Thanks!

[2014-06-11 18:44] jklegseth opened #10 "Update README to >= 4.1.*"
Looks like this package now requires Laravel 4.1.*, but the README suggests:

[code]

Trying that you will get:

[code]

[2014-10-18 19:24] #10 closed, assigned to nobody

[2014-10-18 19:25] #8 closed, assigned to nobody

[2014-11-09 09:48] Mahabub opened #15 "It does not work with lavarel 4.2 or above"
It does not work with lavarel 4.2 or above. Have any update version of it for use with laravel 4.2 or above?

[2014-11-19 10:04] freekmurze opened #16 "Laravel 5"
Could you please update the composer.json so that this package can be used with Laravel 5?

[2015-01-10 21:23] dmyers commented on #7
Is there any way to fix the package to handle this, or do we need to wait until Laravel 5?

[2015-02-15 06:07] dmyers opened #19 "Strip head style tag after moving to inline"
Once the styles from the head tag are moved inline it should remove it to reduce the overall email size right?

[2015-02-26 22:47] bgarrison25 opened #20 "can't install this package"
So I am trying to install version 1.3 of this package as a dependency of my own package and I am getting the following error (using laravel 4.2):

[code]

This is my composer.json file:

[code]

[2015-02-27 16:18] vanderb commented on #20
Please run 'composer update' once before add this package. I had a conflict, with newer Laravel version.

[2015-02-27 16:26] bgarrison25 commented on #20
I have done so and get the same error

On Fri, Feb 27, 2015 at 11:18 AM, Freerk van Zeijl <notifications@github.com

[2015-03-01 22:35] renege commented on #16
not working on L5

[2015-03-01 22:42] GrahamCampbell commented on #16
@renege Are you using dev stability. The last tag won't work on L4.

[2015-03-01 22:43] GrahamCampbell commented on #16
Yeh, it is updated. Look at it...

[2015-03-13 03:15] sebdesign commented on #16
It worked for me by using `"fedeisas/laravel-mail-css-inliner": "@dev"`

[2015-03-19 10:38] Roywcm opened #21 "Load from external css files"
It would be great to load the css from an external <link> file so I don't have to (re)place all the css in the html after my less file compiled everything.

[2015-03-24 16:28] ntvsx193 commented on #20
+1

[2015-04-25 08:04] Remo commented on #20
I had to use `dev-master` as 1.3 depends on 4.1..

[2015-04-27 18:56] troyharvey commented on #20
Thanks @Remo. Saved me a few minutes.

[2015-04-30 18:22] kibiz0r commented on #2
It would be nice to have a config for this. I need to strip the original style tags, so for the time being I'll be using a fork.

[2015-05-06 07:52] freekmurze commented on #16
Is there already a version tagged that works with Laravel 5?

[2015-05-29 18:35] EHLOVader commented on #2
This looks like it was fixed https://github.com/tijsverkoyen/CssToInlineStyles/pull/54 think it could be added again to resolve https://github.com/fedeisas/laravel-mail-css-inliner/issues/19

[2015-06-15 04:16] jaesung2061 opened #23 "Plugin not executing"
The `Swift_Mailer` class is executing `registerPlugin($plugin)` with `$plugin` being `CssInlinerPlugin`. But it isn't executing `beforeSendPerformed()` before sending the mail. What could be the issue?
Please let me know what other information you might need.

I'm using Mandrill as the mail driver.

[2015-06-28 23:13] duellsy commented on #16
Looks like it's available for 5.0 now, but hoping this could also be updated to be installable on Laravel 5.1?

[2015-08-04 13:18] Maidomax commented on #21
:+1:

[2015-08-12 11:30] barryvdh commented on #20
@fedeisas can you tag a new release please?

[2015-09-09 21:42] Jaspur commented on #16
L5.1 not working

[2015-09-16 16:49] Mastergalen commented on #16
Works on Laravel 5.1 for me using `"fedeisas/laravel-mail-css-inliner": "@dev"`

[2015-09-17 18:55] rafael-renan-pacheco commented on #21
You can use php function **file_get_contents()** like this:

https://github.com/Snowfire/Beautymail/blob/master/src/views/templates/ark.blade.php#L5

[2015-11-13 20:08] jdavidbakr commented on #21
+1 - barryvdh\laravel-dompdf does this, would make it feel a bit more cohesive I think.  Not sure how easy it would be to implement, though.

[2015-11-23 08:39] ajitbohra opened #24 "How to use this"
sorry for being naive how to use this any additional steps needed apart from adding provider ?

[2015-11-25 21:46] sebdesign commented on #2
May I send a PR to add a config for this issue?

[2015-12-17 04:13] bandaranaike commented on #16
I've tried with L 5.1. Was error occurred.
`composer require "fedeisas/laravel-mail-css-inliner": "@dev"

  [InvalidArgumentException]
  Could not find package @dev at any version for your minimum-stability (stable). Check the package spelling or your minimum-stability  `

[2015-12-29 05:43] mattstauffer opened #26 "Needs a 1.4 release"
Important changes have been made to the project with regard to dependencies that cannot be pulled into stable projects until there is a 1.4 tag.

[2016-02-29 13:17] ceesvanegmond commented on #26
+1

[2016-03-03 17:59] Souldat commented on #26
+1

[2016-03-10 16:17] ceesvanegmond commented on #26
@mattstauffer @Souldat Tag created -> https://github.com/fedeisas/laravel-mail-css-inliner/releases/tag/1.4

[2016-03-10 16:17] #26 closed

[2016-03-10 16:18] ceesvanegmond commented on #15
@Mahabub @tomvo @freekmurze @jklegseth @gbhrdt See #26

[2016-03-10 16:18] #15 closed

[2016-03-10 16:19] ceesvanegmond commented on #16
Done: see #26

[2016-03-10 16:19] #16 closed

[2016-03-10 16:19] ceesvanegmond commented on #20
Done: see #26

[2016-03-10 16:19] #20 closed

[2016-03-10 16:20] ceesvanegmond commented on #19
This is done! See #28. This is also tagged for 1.4 release. See #26

[2016-03-10 16:20] #19 closed

[2016-03-10 16:21] ceesvanegmond commented on #24
@ajitbohra Do you still have problems with it? I think the README has enough information to get started.

[2016-03-10 16:21] #24 closed

[2016-03-10 16:21] ceesvanegmond commented on #23
@jaesung2061 Do you still have this problem?

[2016-03-10 16:22] #21 closed

[2016-03-10 16:23] ceesvanegmond commented on #7
@AntoineAugusti Do you still have this problem? Or is it resolved already?

[2016-03-10 16:25] jaesung2061 commented on #23
No. It turns out Laravel never made use of Swift plugins (they were never registered them). I made a pull request to fix it. https://github.com/laravel/framework/pull/9345

[2016-03-10 16:25] #23 closed

[2016-03-10 16:36] mattstauffer commented on #26
@ceesvanegmond <3 thank you!

[2016-05-26 14:54] #7 closed

[2016-05-28 17:25] GrahamCampbell opened #32 "Upgrade to tijsverkoyen/css-to-inline-styles ^2.0"
This upgrade will take a bit more than just changing the version constraint I'm afraid, but it shouldn't be that bad to do.

[2016-05-28 17:25] GrahamCampbell commented on #32
NB, this should need a new major release in this package too, for BC reasons.

[2016-05-30 07:05] ceesvanegmond commented on #32
I totally agree. Right now I don't have the time to upgrade package. Feel free to open a pull request.

[2016-06-23 22:27] kingsloi commented on #24
@ceesvanegmond, if someone has to ask you how to use it, then it's probably not as clear as you might think

[2016-06-24 10:19] ceesvanegmond commented on #24
@kingsloi Feel free to improve the docs!

[2016-07-22 08:13] malutanpetronel opened #33 "Inline style for body not created"
I did tried the package with an email extending a layout
which has     <div class="wrapper email">
and the layout has <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
inside which I have

div.email{
    background-color: #ffe467
}

but the generated email is not adding the inline style

...

        <div>

[code]

...

Any hint please ?

[2016-07-25 16:03] kamrava opened #34 "How can I use this package?"
Hi,

I have installed this package on my Laravel project( v 5.2)
Now, how can I use this package?
Please show us an example of how can use this?!

Thanks,

[2016-07-31 13:54] ikovbas commented on #34
Hi @kamrava

You should install the package using the instruction from here https://github.com/fedeisas/laravel-mail-css-inliner#installation
And after that you should just send your mails via Laravel Mail facade https://laravel.com/docs/5.2/mail

Actually, I didn't work with this package on Laravel 5.2, but on Laravel 5.1 it works correctly for me.

[2016-08-03 01:39] njbarrett opened #35 "Call to undefined function Fedeisas\LaravelMailCssInliner\config_path()"
Installing this on a fresh Lumen 5.2 install I get this error.

`Call to undefined function Fedeisas\LaravelMailCssInliner\config_path()`

[2016-08-03 01:45] njbarrett commented on #35
Seems that `config_path` is a missing function in Lumen, so following this I was able to fix it:

https://gist.github.com/mabasic/21d13eab12462e596120

[2016-08-17 13:36] ceesvanegmond commented on #33
@malutanpetronel Have you resolved this issue yet?

[2016-08-17 13:37] ceesvanegmond commented on #34
@kamrava Did you succeed to use the package? If improvements are needed on the docs, please do a pull request!

[2016-08-17 13:37] #34 closed

[2016-08-17 13:37] ceesvanegmond commented on #35
@njbarrett A really?!? That's something I need to fix. I will look into it later

[2016-09-15 00:01] Pablodotnet commented on #35
Same is happening to me :( I'm using Lumen 5.1

[2016-09-16 13:50] Belphemur commented on #32
I've done this in #38 @ceesvanegmond & @GrahamCampbell
The only test breaking is HHVM but it's due of the underlying lib itself then laravel-mail-css-inliner

Best addition is the possibility to set some CSS file to be used for the inlining rather that using <style />.

[2016-09-17 16:50] ceesvanegmond commented on #32
@Belphemur Looks good!

[2016-09-17 16:50] #32 closed

[2016-10-10 16:12] RomainSauvaire commented on #24
I should be naive too because even after running
```composer require fedeisas/laravel-mail-css-inliner```

When I send (to the logs) an email which extends a layout, with `style` in it, it doesn't inline anything. Could use some of your advices.

### Example
[code]

[2016-11-22 14:51] JCarlosR commented on #33
@ceesvanegmond We have to use some functions before the Mail facade? Or is it supposed to be automatically?

[2016-11-22 21:28] ceesvanegmond commented on #33
@JCarlosR What do you mean exactly?

[2016-12-03 04:13] DelightedD0D opened #39 "Not adding inline styles in 5.3"
Im using laravel 5.3. The inliner runs when I send mail and removes all but the media query css from the head but it does not add any inline styles whatsoever. Any ideas?

[2016-12-03 09:50] DelightedD0D commented on #33
Same here, css is removed but no inlinning is done

[2016-12-03 11:02] ceesvanegmond commented on #39
Email isn't supporting inline media queries. http://stackoverflow.com/questions/9808233/is-it-possible-to-put-css-media-rules-inline

[2016-12-03 11:02] #39 closed

[2016-12-12 15:13] stefanhaan commented on #33
This happens in vendor/tijsverkoyen/css-to-inline-styles/src/CssToInlineStyles.php at line 441
if ($this->excludeMediaQueries) {
            $css = preg_replace('/@media [^{]*{([^{}]|{[^{}]*})*}/', '', $css);
        }

preg_replace can return null whenever an error occurs, in case this happens the entire CSS is replaced with null ad the processor is left without any css rules to apply.

[2016-12-12 15:18] JCarlosR commented on #33
@ceesvanegmond @DelightedD0D I solved my problem that day.
I was using external CSS files, but the styles have to be defined in the blade file using `<style>`.

[2016-12-12 16:50] ceesvanegmond commented on #33
@stefanhaan Does that solve your problem?

[2016-12-12 17:55] stefanhaan commented on #33
@ceesvanegmond Yes that does indeed solve it, however the underlying issue is in the Regex itself. And the code around those lines in itself is a bit flawed, at the moment it replaces the CSS with a preg_replace. However preg_replace is not guaranteed to return the input string in case of an error it returns null, if there were nullchecks for the preg_replace then it would have resulted in the inl

[2016-12-12 21:44] ceesvanegmond commented on #33
@stefanhaan Could you maybe add a pull request and add a test?

[2017-05-31 20:44] matomoravcik opened #44 "Laravel 5.4 compatibility"
Hi i would like to ask if this is compatible with laravel 5.4 - it's not working for me on L 5.4. Thanks

[2017-06-01 07:05] bryceadams commented on #44
+1 - broken with 2.1 update

[2017-06-01 07:12] ceesvanegmond commented on #44
I will accept an pull request to be compatible with Laravel 5.4.

[2017-06-01 12:52] Belphemur commented on #44
My pull #43 that has been merged should resolve this issue.

[2017-06-01 20:02] matomoravcik commented on #44
@Belphemur yes this fix compatibility issue, thanks a lot

[2017-06-02 07:16] #44 closed

[2017-06-21 14:19] fideloper opened #45 "laravel 5.5 auto-discovery support"
Hello!

I've had a simple PR on a project to support laravel 5.5 auto-discovery of service providers which I believe you should be able to replicate here.

(I haven't made a PR since I am not available to test this package with this change on laravel 5.5 yet, but figured it would be helpful to send you the basics on the update - really simple change, assuming 5.5 hasn't changed how mail works!)

h

[2017-06-23 14:45] fedeisas commented on #45
Thanks @fideloper, I'll take a look.

[2017-06-27 10:56] daison12006013 opened #46 "Stocked on Mail::to(...)->send|queue()"
PHP 7.1
Laravel 4.2
Library Version 2.1

When using above such as `Mail::to($email)->send()` nor `queue()` the queue stocked and never go thru in my supervisor (beanstalkd)

So I rolled back to 2.0 just to use the old one, I should probably change my version now to restrict using 2.0.* only.

[2017-07-20 15:46] khalyomede opened #47 "Configuration to fetch on a default folder ?"
If I set my route to my css file like `/css/app.min.css`, it thrown an error instead.

To fix it I had to hard code the correct route in my HTML file
[code]

But now I cannot debug the front in my browser, because when I launch my website, it start from `/public`, so instead of browsing `http://localhost:8000/public` I can do `http://localhost:8000` using `php artisan serve`.

Is there a way to co

[2017-07-28 07:18] fridzema opened #48 "Error file_get_contents"
Hello fedeisas,

Really like your package, works great in my emails. Unfortunately when i try to do a composer update or php artisan optimize etc. i get the error file_get_contents(css/email.css): failed to open stream: No such file or directory/.

I can ensure that the package itself works when sending mail.

Hope you can help me out?

[2017-07-29 14:12] fedeisas commented on #48
Are you including your CSS using the `config` file?

[2017-07-29 14:17] fedeisas commented on #47
Hi @khalyomede! Laravel have some beautiful helpers for that. The best way to do it is:
[code]

[2017-07-31 09:05] fridzema commented on #48
Thanks for your answer, it works perfectly now!

[2017-07-31 09:05] #48 closed

[2017-08-02 21:17] zmonteca commented on #48
I don't really get the logic here...

If we're using a standard layout with a relative url in the link tag (css/emails.css), this plugin removes that tag from the layout and then tries to fetch the stylesheet with file_get_contents. But that's going to fail every day of the week.

So are we expected to use an alternative layout without any link tag defined and then rely on the css-files option in

[2017-08-02 21:20] zmonteca commented on #48
I don't really get the logic here...

If we're using a standard layout with a relative url in the link tag (css/emails.css), this plugin removes that tag from the layout and then tries to fetch the stylesheet with file_get_contents. But that's going to fail every day of the week.

So are we expected to use an alternative layout without any link tag defined and then rely on the css-files option in

[2017-08-03 16:24] fedeisas commented on #48
@Belphemur added that feature on e763ee2

I'm not sure what was the use case he/she had in mind.

[2017-08-03 17:18] Belphemur commented on #48
@fedeisas Wrong commiter and commit. The feature of reading the css tag was made by @underthecocotree https://github.com/fedeisas/laravel-mail-css-inliner/commit/6d2a98efcb82f4745303400f3abdf2cc23703068

I only updated the underlying library and silence the error of the xml/html parser.

For the records, I agree with @zmonteca. I could take the time to add a new configuration (to avoid conflict wi

[2017-08-06 17:21] zmonteca commented on #48
I created a pull request for my proposed latter approach, which checks if the file has a public path or not and if not, creates the path using public_path().

This approach solves the issue myself and @Belphemur spoke of where any time a dir/file.css is used it is automatically supported and pushed inline.

[2017-08-06 19:56] ceesvanegmond commented on #35
@njbarrett Could you make a pull request?

[2017-08-06 19:56] #47 closed

[2017-08-06 19:57] ceesvanegmond commented on #45
@fedeisas @fideloper It is already merged 👍

[2017-08-06 19:57] #45 closed

[2017-08-07 01:09] njbarrett commented on #35
@ceesvanegmond PR opened

[2017-08-09 07:18] #35 closed

[2017-08-14 12:52] fedeisas commented on #33
Closing for inactivity.

[2017-08-14 12:52] #33 closed

[2017-08-14 12:53] fedeisas commented on #46
@daison12006013 are you sure the problem in your queue was because this library? Can you provide more information? Thanks.

[2017-09-30 04:39] jbonnett92 commented on #46
Did you make sure that you changed the queue driver from sync to something of your choice? Sync essentially runs before a response is made.

[2017-10-30 18:11] blanxii opened #54 "@import not working"
Hello guys,

I'm trying to import a font from google fonts in my css file, the problem is that I can't use @import / or link (link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet") all of them was translated to @font-face property and ofc there's no main item called font-face to be replaced.

I think could be a nice idea if this library let all the @ properties in the sty

[2017-11-22 19:46] bcalik commented on #24
I installed as its instructed in readme, but it does not inline any css. Even a simple example doesn't work. I checked it using `log` mail driver. I tried this on a Laravel 5.2 project.

[2018-02-09 21:19] incraigulous commented on #54
I'm hitting this problem when trying to use web fonts as well.

[code]

[2018-03-18 04:42] awolad opened #56 "Mail Not sending"
Email not sending from my Laravel 5.1 (LTS) app after installing this package. But before installing this plugin I was able to send email. But in an email the cases not loading.

What I did:
1. In my application I am rendering a view.
2. That view extended from a master template.
3. After view render I am sending the view as email.
4. And Finally the email not loading css.

[2018-03-27 21:31] pcartagena74 opened #57 "Timing out while sending mail"
I'm using Laravel 5.5 hosted locally (windows, php 7.1.15) for development and on Heroku for test and PRD.
I did a set_time_limit(0) and on localhost it just sits there and never finishes.  On Heroku, the application crashes.

I experience the following error:

[code]

[2018-05-18 14:52] nam-co opened #58 "outlook issues"
Hi, first I would like to thank you for the package, is very helpful

Im having a problem with outlook where the fonts and button paddings are not showing, do you have any idea why or any recommendation?

here is the example of a html button

<--a href="#"  class="btn btn-primary bg-gray_light btn-round mt-0 font s-16" style="box-sizing: border-box; text-decoration: none; -webkit-text-decoration-s

[2018-07-11 09:00] leommsilva commented on #57
I'm received error similar:

`file_get_contents(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css): failed to open stream: Connection timed out at /var/www/doinn.co/releases/6/vendor/fedeisas/laravel-mail-css-inliner/src/CssInlinerPlugin.php:70)\n[stacktrace]\n#0`

[2018-08-08 21:08] azzic opened #59 "Does not work when creating a new SmtpTransport"
Hi,

Not sure if this is an issue or more of a question.

Was wondering how could I attach your plugin to a dynamically created "new SmtpTransport (mail.host, 25, tls)".

It works great whenever I start the application and the default configuration used in the .env file, but whenever I try to create a "new SmtpTransport()" to update my mail server config, the plugin does not get attached into the

[2018-09-17 12:45] badrusalsyihab opened #60 "hy can you explain how use this"
hy can you explain how use this
thanks

[2018-10-01 07:35] rdanklof commented on #60
Everything you need is in the readme: https://github.com/fedeisas/laravel-mail-css-inliner#installation

[2018-12-21 07:43] Sinnbeck opened #61 "Inline on render also"
Hi. Is there a way to get this working if I use the rendering feature of emails in laravel?
https://laravel.com/docs/5.7/mail#rendering-mailables
Currently it does not seem to work.

[2018-12-31 10:09] piep14 opened #62 "Media query"
Hello,

Why this code on responsive mobile don't work ?

[code]

My image is still 50%

Thank you for help.

[2019-02-12 08:22] piep14 commented on #62
Nobody ?

[2019-04-25 07:33] echo909 commented on #59
I had the same problem.

Try adding this to the new instance.

[code]

[2019-04-26 08:55] martsie commented on #57
Same issue here, our CI is breaking and local cannot send emails.

getting `file_get_contents(http://127.0.0.1:8000/v2/css/email.css): failed to open stream: HTTP request failed!` despite it being accessible in chrome.

[2019-08-08 13:08] manegame opened #64 "Timeout - Bug report v2.2"
Hey everyone. Just ran into an issue with my Laravel build today and wanted to share the problem with the community.

My problem was with this line, which caused my mail jobs to timeout after 60 seconds:

<img width="662" alt="Schermafbeelding 2019-08-08 om 13 57 00" src="https://user-images.githubusercontent.com/17074938/62705561-ead92d80-b9ed-11e9-884e-c391acbf69ab.png">

It's happened to me on

[2019-09-05 00:58] uiuifree opened #66 "Dont use Laravel 6.0"
I can't install with Laravel 6.0, so please update.

[2019-09-06 06:46] stayallive commented on #66
There is already a PR pending #65, let's have some patience 😄

[2019-09-13 23:11] #60 closed

[2019-10-04 05:46] #66 closed

[2020-03-05 21:45] vesper8 opened #71 "Laravel 7 compatibility"
`2.3` is not compatible with Laravel 7 due to `illuminate/support ~5.0|^6.0`

@fedeisas Could you please release a new version with Laravel 7 compatibility?

Thanks a lot!

[2020-03-12 11:50] zupolgec commented on #71
See #72

[2020-03-17 20:56] thomasjohnkane commented on #62
Having the same issue with TailwindCSS. Everything is in the mobile view regardless.

[2020-03-25 14:17] tibinvpaul commented on #57
Anyone knows how to fix this? I am getting the error `file_get_contents(http://localhost/css/mail.css): failed to open stream: Connection refused in /builds/project/api/vendor/fedeisas/laravel-mail-css-inliner/src/CssInlinerPlugin.php:70` while running tests.

[2020-03-25 19:36] nrhooks1792 commented on #64
I'm currently having this issue as well. The app times out when the 'rel' attribute is not present. Any update on this? Thank you!

[2020-04-04 18:37] fedeisas commented on #46
Closed due to inactivity.

[2020-04-04 18:37] #46 closed

[2020-04-05 01:17] fedeisas commented on #59
Closed due to inactivity.

[2020-04-05 01:17] #59 closed

[2020-04-05 01:18] fedeisas commented on #54
Closed due to inactivity.

[2020-04-05 01:18] #54 closed

[2020-04-05 01:19] fedeisas commented on #64
@manegame @nrhooks1792 this fixed in the next release. Thanks.

[2020-04-05 01:19] #64 closed

[2020-04-05 01:19] fedeisas commented on #58
Closed due to inactivity.

[2020-04-05 01:19] #58 closed

[2020-04-05 01:19] fedeisas commented on #56
Closed due to inactivity.

[2020-04-05 01:19] #56 closed

[2020-04-05 01:20] fedeisas commented on #62
@piep14 @thomasjohnkane I think the problem is that the plugin inlines your CSS and that takes precedence over your media queries. I'm not sure if you can expect TailwindCSS to work on an email client. There are frameworks that target those clients specifically.

[2020-04-05 01:20] #62 closed

[2020-04-05 01:21] fedeisas commented on #71
@vesper8 @zupolgec tagging a new release tonight with Laravel 7 support. Thanks.

[2020-04-05 01:21] #71 closed

[2020-04-05 01:21] fedeisas commented on #61
Closed due to inactivity.

[2020-04-05 01:21] #61 closed

[2020-04-05 01:23] fedeisas commented on #57
@tibinvpaul if you're serving the file locally you might want to use the config file to define to it can be loaded without a running web server. You can also try to inline the CSS in your email view directly.

[2020-04-05 01:23] #57 closed

[2020-04-23 14:12] DJPretorius commented on #57
I'm using version 2.3 of this package and getting this error
`file_get_contents(localhost/css/materialize.css): failed to open stream: No such file or directory {"exception":"[object] (ErrorException(code: 0): file_get_contents(localhost/css/materialize.css): failed to open stream: No such file or directory at /app/vendor/fedeisas/laravel-mail-css-inliner/src/CssInlinerPlugin.php:70)`

I did inclu

[2020-04-30 14:25] juukie opened #84 "Mandrill-driver together with css-inliner"
Hi! First of all thanks for creating and maintaining this package :-).

I've installed it together with `therobfonz/laravel-mandrill-driver`. Both packages use Laravel's auto-discovery feature.

The css-inliner package boots before the mandrill-driver package, but since the css-inliner needs the SwiftMailer it tries to build the mail (Mandrill) transport which is not registered in the mail manager

[2020-06-17 13:58] iplat64 opened #98 "Error when publishing config file"
Hi there! Thanks for this very useful package.
After installing the package with composer, running the vendor:publish artisan command returns an error message "Unable to locate publishable resources". After manually copying the css-inliner.php file from the vendor folder to the config folder, everything works fine though.

[2020-07-02 13:35] lbeauvisage commented on #84
i Have the same problem with vemcogroup/laravel-sparkpost-driver

with this error
[code]

<img width="1278" alt="Unsupported mail transport [sparkpost]." src="https://user-images.githubusercontent.com/786319/86365167-72b8cd80-bc79-11ea-9316-5052cda63ff2.png">

[2020-07-12 02:03] Gimcrack commented on #84
I had the same issue with the sparkpost driver but was able to work around it by not auto-discovering `laravel-mail-css-inliner`.

[code]

[code]

[2020-08-25 12:45] veganista opened #114 "CSS being cached between emails"
`CssInlinerPlugin::$css` is cached between different inlines.

This is probably intended but if you try to send 2 emails that have different templates you can run into issues.

*css/email.css*
[code]

*mail/email1.blade.php*

[code]

*mail/email2.blade.php*

[code]

If email 1 is sent *before* email 2 they will both be inlined as:

[code]

I've checked the value of ```$this->css``` and it is not r

[2020-08-30 22:40] djereg opened #117 "Error loading CSS files like //fonts.googleapis.com"
I have one service that forwards some mails according to some rules. That's not really the important thing.

But, today got one mail form google, which contains the next:
[code]

When the inliner tries to load the file, it fails with error:
[code]

The problem is here:
https://github.com/fedeisas/laravel-mail-css-inliner/blob/b45b3ed65966324f5094b51aa616445725074ce1/src/CssInlinerPlugin.php#L61-L7

[2020-09-07 05:04] tahirpk opened #119 "Media Query CSS Not Working"
@media only screen and (max-width: 600px) {
 .container-fluid {
        width: 80%;
    }
}

[2020-09-07 05:22] tahirpk commented on #117
You can add the google font in your css file, in this way:
@media screen  {
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: local('Kanit'), local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.googleapis.com/css?family=Kanit:300,400,600,700&subset=latin-ext) format('Kanit');
  }
---body css
}

[2020-09-07 12:40] djereg commented on #117
I can, but will not solve my problem.

As I wrote, the service forwards some incoming mails, which come from different sources. So the above will not solve my problem, because the mail what comes from google will contain the `<link />` with the above path, and the inliner will try to load it, and will fail.

https://stackoverflow.com/questions/7273573/links-start-with-two-slashes

[2020-09-09 03:23] nam-co opened #120 "Laravel 8 Support pls"
Hi theres a small problem when upgrading/installing on L8, basically the error is "fedeisas/laravel-mail-css-inliner 3.0 requires illuminate/support ^7.4", can you pls upgrade the package

Appreciate the time you put into this package

[2020-09-09 15:38] nam-co commented on #120
Thanks

[2020-09-12 03:50] #120 closed

[2020-09-12 04:25] #117 closed

[2020-09-12 04:56] #114 closed

[2020-09-12 04:59] fedeisas commented on #84
#90 should fix this.

[2020-09-12 04:59] #84 closed

[2020-09-12 05:08] fedeisas commented on #120
@nam-co please try the latest version. Thanks.

[2020-09-12 05:09] fedeisas commented on #117
@djereg please try the latest version. Thanks.

[2020-09-12 05:09] fedeisas commented on #114
@veganista thanks for your feedback. I did some changes to improve this section of the code. Please try the latest version. Thanks.

[2020-09-12 14:51] nam-co commented on #120
Hi @fedeisas it seems to be working now, composer update worked, I have to update other packages to complete 8 upgrade and I will let you know when I can test, thanks

[2020-09-21 10:28] superbiche opened #130 "CSS Inliner tries to resolve URL, not path, in some cases"
Version: 2.3
Laravel: 6.18.15

[code]
[code]

Error:
[code]

Seems the plugin tries to resolve the URL path when I use `asset()`. Which is weird: on my machine, it happens once, then it works, on my colleague's machine, it fails every time.

I really don't know what happens there.

[2020-11-09 18:56] fedeisas opened #137 "[URGENT ACTION REQUIRED] StyleCI Payment Details"
StyleCI is migrating to a new payment system, and you must re-enter your payment information as soon as possible to continue using the StyleCI Monthly Solo plan. Please re-enter your payment details on the StyleCI account settings page, or directly by clicking [here](https://github.styleci.io/accounts/251675/card).

[2020-11-17 16:53] Mushr0000m opened #139 "Does link stylesheet should include file content in head ?"
From the doc it says that this :
[code]
will turn into this :
[code]

But when I do it like this :
[code]
The style is well inlined but not pasted in a `<style>` tag in the head, replacing the `<link>` one. Shouldn't it ?

[2020-11-17 18:50] fedeisas commented on #139
I think the docs are wrong. Or we changed the behaviour at some point.

Isn't it redundant, though?

[2020-11-17 19:51] Mushr0000m commented on #139
I’m not sure what you mean by redundant.
- External stylesheet with link tag are erased by a lot of email client so having it automaticaly embeded is better.
- Also it can’t be completely removed from the head because of some rules like media queries, hover, etc that can’t be inlined on tags.

I just think that using link is great because we can use webpack/sass to create the style file, using aut

[2020-11-29 00:08] nvahalik commented on #119
`@media` queries cannot be inlined. If you need media queries, you'll need to include CSS at the top of your email.

[2020-12-04 10:08] phanan opened #145 "Support for PHP 8"
With PHP 8 released and the main dependency [tijsverkoyen/css-to-inline-styles](https://github.com/tijsverkoyen/CssToInlineStyles/blob/master/composer.json#L15) supporting it since a while ago, can we bump the PHP dependency to `^7 || ^8`?

[2020-12-06 19:11] joshuaeasy commented on #145
Please can make the PHP dependency to ^7 || ^8?

[2020-12-17 13:46] duxthefux commented on #145
can we get the https://github.com/fedeisas/laravel-mail-css-inliner/pull/146 merged?

[2020-12-20 17:35] ajohnson6494 commented on #145
@fedeisas Can we get a release with PHP 8 support now the composer updates are merged?

[2020-12-20 17:50] fedeisas commented on #145
@ajohnson6494 done with `4.0`

[2020-12-20 17:50] #145 closed

[2020-12-21 02:58] #137 closed

[2021-01-15 14:55] angelofan commented on #98
The same issue, I am using laravel 8

[2021-02-12 07:40] treb00 commented on #98
try without the quote

`php artisan vendor:publish --provider=Fedeisas\LaravelMailCssInliner\LaravelMailCssInlinerServiceProvider`

[2021-03-11 14:38] rudiedirkx opened #156 "race condition with mail preview"
Not sure whose bug it is, maybe `spatie/laravel-mail-preview`'s.

css inliner's service provider (in `register()`):

    $this->app->afterResolving('mail.manager', function (MailManager $mailManager) {
        $mailManager->getSwiftMailer()->registerPlugin($this->app->make(CssInlinerPlugin::class));
        return $mailManager;
    });

and mail preview's (in `boot()`):

    $this->app['mail.manag

[2021-03-11 14:42] rudiedirkx commented on #156
That was Laravel 6 btw. Different mail config.

[2021-03-11 15:07] rudiedirkx commented on #156
A way to fix this is to do the `registerPlugin` eagerly in `boot()` instead of cleverly in `afterResolving()` in `register()`, because then the order of the service providers determines the order:

    public function boot()
    {
        $this->publishes([
            __DIR__ . '/../config/css-inliner.php' => base_path('config/css-inliner.php'),
        ], 'config');

        $this->app['mail.man

[2021-03-14 23:52] #156 closed

[2021-05-03 08:11] seyfer commented on #66
do I understand correctly, that I need to use v2.3 tag for Laravel 6?
this one? https://github.com/fedeisas/laravel-mail-css-inliner/tree/2.3

[2021-05-03 08:33] stayallive commented on #66
Yes, 2.3 is the last version supporting Laravel `6.x`.

[2021-05-17 09:37] roxshivamsingh opened #160 "Updating dependencies Your requirements could not be resolved to an installable set of packages. Problem 1 - Root composer.json requires fedeisas/laravel-mail-css-inliner ^3.1 -> satisfiable by fedeisas/laravel-mail-css-inliner[3.1]. - fedeisas/laravel-mail-css-inliner 3.1 requires php ^7.2.5 -> your php version (8.0.5) does not satisfy that requirement."
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Root composer.json requires fedeisas/laravel-mail-css-inliner ^3.1 -> satisfiable by fedeisas/laravel-mail-css-inliner[3.1].
    - fedeisas/laravel-mail-css-inliner 3.1 requires php ^7.2.5 -> your php version (8.0.5) does not satisfy that requirement.

[2021-05-20 15:40] federicorp commented on #160
You could try to use the 4.0, that's the one that supports php 8.0.

[2021-06-11 20:51] nam-co opened #162 "Using it outside emails"
Hi, is there a way process the css inline apart from email? For example applied it to any blade file, like a facade?

[2021-06-28 16:02] cerrito958 opened #164 "file_get_contents(): SSL operation failed with code 1"
Hi, Fedeisas.

   When I try to send mails in production with SSL, i get the error:
file_get_contents(): SSL operation failed with code 1. OpenSSL Error messages: error:1414D172:SSL routines:tls12_check_peer_sigalg:wrong signature type

Stack Trace:
Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
vendor/fedeisas/laravel-mail-css-inliner/src/CssInlinerPlugin.php:90

Hope you can help

[2021-06-30 11:04] tohir87 commented on #164
Also having the same problem here. Any help would be appreciated.

[2021-07-07 00:26] deevus opened #165 "Only applies to default mailer"
This code only registers the plugin onto the default mailer.

https://github.com/fedeisas/laravel-mail-css-inliner/blob/285036b484f0f7642150388f68f00f93798ac7cb/src/LaravelMailCssInlinerServiceProvider.php#L33-L36

We're using multiple mailers so it would be good if this package could support multiple mailers out of the box.

At a glance it doesn't look like this can work with Laravel 7 at least.

[2021-07-07 20:16] cerrito958 commented on #164
Hi, @tohir87, if you have you stylesheet asset in emal view, you need remove it, and add the .css in config/css-inliner.php, like this:

<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Css Files
    |--------------------------------------------------------------------------
    |
    | Css file of your style for your emails
    | The co

[2021-09-10 14:44] #164 closed

[2021-09-20 15:08] nam-co opened #169 "Someday Laravel 9"
Hi @fedeisas , good day, I was wondering, It seems Laravel is moving from SwiftMailer to Symfony Mailer in version 9, is this something that will be supported? thanks for everything

[2022-02-11 14:10] jimleeder123 commented on #169
Any updates on Laravel 9 support, please?

[2022-02-12 15:52] ivanvermeyen commented on #169
Been tinkering with a temporary solution.
This is very basic can still be improved and maybe used in this package, since this package already offers extra feats.
I'm hooking into the `MessageSending` event and then convert the HTML.

[code]

[code]

[2022-02-13 11:13] bintzandt commented on #169
Nice solution!

However, it does not work when the mail is send via an queue.

Does anybody have an idea how to get this working in a non-synchronous environment?

I looked at the [queue documentation](https://laravel.com/docs/9.x/queues) but I did not think Middleware was the way to go.

[2022-02-14 14:22] ivanvermeyen commented on #169
@bintzandt are you sure it's not working with the queue?
I just ran this on my staging server using a redis queue, inspected the mail in mailtrap.io and CSS was inlined.

[2022-02-17 13:31] stayallive commented on #169
@phanan I am currently not interested in that, I've made the fork a few years back to be able to use in my projects and change a few things to my liking. But feel free to take the changes from my fork and create a PR for this package it's all open source 😄 (but don't blindly copy since I've made some naming changes that would be a breaking change here)

[2022-03-30 14:26] #169 closed

[2022-04-05 12:28] kverstae opened #175 "CSS not inlined for mail with attachment"
After updating to a laravel 9-compatible version of this package, I noticed that the CSS of mails with an attachment is not inlined any more.

I started looking in the code and noticed that `MixedPart` is just not handled here: https://github.com/fedeisas/laravel-mail-css-inliner/blob/6140c59192ad8d44fe0338a19a1e2cadaff1f8b9/src/CssInlinerPlugin.php#L86-L96
First intuition would be to handle `Mixe

[2022-04-10 22:24] ajohnson6494 commented on #175
@kverstae Take a look at the PR #178 I just created and see if this solves your problem. Any feedback would be greatly appreciated.

[2022-04-11 07:30] kverstae commented on #175
It now indeed correctly inlines the CSS for mails with an attachment, but still has a flaw: html attachments are also CSS inlined.
The issue is that `getParts()` also returns the attachments as parts and if this part has a mime type of 'text/html' it will be processed by `processPart()`, which should be avoided IMO.

[2022-04-20 20:03] slavii opened #183 "Bootstrap styles not as expected"
Hello,
I have read a lot about including styles in Laravel Mails and found this excellent package.
After adding it I have made a lot of tests also with Gmail and Mailtrap, but the email style is not as expected.

I have tried to add:
- fonts.googleapis.css
- bootstrap.min.css
- custom css file (a few changes by me)
- all.min.css (needed for font awesome icons)
Font awesome icons should be at the b

[2022-05-13 08:29] ralphjsmit opened #192 "Can you tag a new release?"
I had problems installing this with Laravel 9, because the `composer.json` of the latest tag doesn't allow `illuminate/mail: ^9.0`. Then I saw that this constraint _was_ already allowed on master. I currently installed it with the `dev-master` constraint, but I'd prefer to install this using a real tag.

Therefore the question, can you tag a new release (like 4.1)? Thanks!

[2022-05-26 12:38] emielmolenaar commented on #192
This would be nice

[2022-06-01 03:07] kirkbushell opened #201 "Inliner can never find CSS file"
I've defined my CSS files in my configuration, yet when I do, it always complains about not being able to find css/email.css, for file_get_contents. Which is accurate, no such file exists for that, because it's not using the full public_path, which IS set in my config:

[code]

So not sure what's going on here, but as it stands it's straight up not working.

_**Update:** I found that if you're doi

[2022-06-11 01:37] kirkbushell commented on #201
Coming back to this, this package just doesn't seem to work as advertised. I've tried every which way to get it working on Laravel 8, but unfortunately it never seems to find the files required.

[2022-06-29 08:19] alnorth commented on #192
It would be great if you could tag a release or, at least, give an indication that the code on `master` is ready for production use. This is currently blocking our upgrade to Laravel 9 because I'm reluctant to use `dev-master` in production.

[2022-08-23 19:30] DannyvdSluijs commented on #192
I could also benefit from a new tag. It seems this repo has been quite inactive lately (no judgment, just as an observation).
But perhaps a ping for @fedeisas would help?

I believe that maintainers can also have a shift of mind, priorities change or a new job that doesn't allow for OSS work. But it would be in the benefit of the repo to make it clear if the package would be abandoned. Optionally

[2022-08-23 20:13] ajohnson6494 commented on #192
@DannyvdSluijs I have created a fork of this repo and have it updated to work with laravel 9 and symphony mailer if you are interested. I plan on maintaining this repo for a while as I currently use it on multiple production sites.

[Laravel Symfony Mailer CSS Inliner](https://github.com/ajohnson6494/laravel-symfony-mailer-css-inliner)

[2022-08-26 15:22] lukebouch commented on #192
Can you please tag another release?

[2022-08-27 00:40] fedeisas commented on #192
@DannyvdSluijs just made you a collaborator of this repo.

[2022-08-27 00:45] fedeisas commented on #192
https://github.com/fedeisas/laravel-mail-css-inliner/releases/tag/5.0

[2022-08-27 00:45] #192 closed

[2022-08-27 00:48] fedeisas commented on #162
I'd rather keep the most minimal functionality on this package.

You can take a look at https://github.com/fedeisas/laravel-mail-css-inliner/blob/6140c59192ad8d44fe0338a19a1e2cadaff1f8b9/src/CssInlinerPlugin.php#L98.

[2022-08-27 00:48] #162 closed

[2022-08-27 00:49] #98 closed

[2022-08-27 00:49] #119 closed

[2022-08-30 06:54] DannyvdSluijs commented on #192
Thanks, I'll accept for now and see how I can help and how it pans out. Anything you want to share with regards to this package or things you would like to to see resolved or addressed?

[2022-08-30 12:09] DannyvdSluijs commented on #130
@superbiche In an attempt to cleanup this repository I'm looking at the open issues including yours.
I quickly noticed the issue is close to two years old, Laravel 6 is a almost[ End Of Life](https://laravel.com/docs/6.x/releases) and you're using version 2.3 of this library which dates back to 2019.

I value your opinion here and was wondering if you think there is any value in looking into this

[2022-08-30 12:13] DannyvdSluijs commented on #139
@Mushr0000m  In an attempt to cleanup this repository I'm looking at the open issues including yours.
It seems you're asking for adding an additional feature if I'm right?

I value your input here and was wondering if you could verify this is still the case and support for external css hasn't been added in since the opening of your ticket.

[2022-08-30 12:14] DannyvdSluijs commented on #160
@roxshivamsingh  In an attempt to cleanup this repository I'm looking at the open issues including yours.

It seems federicorp has provided you with an answer and I was curious if this resolved your issue, if so we can close the issue and have one less issue.

[2022-08-30 12:17] DannyvdSluijs commented on #165
@deevus In an attempt to cleanup this repository I'm looking at the open issues including yours.
It seems you're using additional mailers, which ones are these and are they supported by Laravel?

I would like to improve this library and was wondering if you inputs could usefully to put into the readme. Would you have some ideas on what it is we should add or maybe you could even open an pull reque

[2022-08-30 12:18] DannyvdSluijs commented on #175
@kverstae and @ajohnson6494  In an attempt to cleanup this repository I'm looking at the open issues including this one.
I was wondering if there is anything needed to put the progress on this back in motion?

[2022-08-30 12:20] DannyvdSluijs commented on #183
@slavii  In an attempt to cleanup this repository I'm looking at the open issues including yours.
It seems you've found an issue with this library. I was wondering if you looked at the raw email (HTML) contents and checked if you where able to have some idea of what goes wrong?

[2022-08-30 12:22] DannyvdSluijs commented on #201
@superbiche In an attempt to cleanup this repository I'm looking at the open issues including yours.
It seems your running into some issues. Could you provide some reproduction steps? Or at least some constraints to the version (Laravel, this library) you've been using?

[2022-08-30 14:36] slavii commented on #183
Sorry for the delayed reply.
I have already switch to another way for email styling.

[2022-08-30 14:55] DannyvdSluijs commented on #183
Closing the issue for now then. Feel free to reopen it if needed.

[2022-08-30 14:55] #183 closed

[2022-08-30 22:24] superbiche commented on #130
@DannyvdSluijs I think this can be closed, it's so old I cannot remember exactly what didn't work, as we're using this package in production since then. So yeah feel free to close it!

[2022-08-30 22:24] #130 closed

[2022-09-10 09:21] kverstae commented on #175
I created a PR #241 in an attempt to fix this. It seems to work for my usecase, but I am not 100% sure this will cover all edge cases. There might be some issues with more complex mail structures, but I am not sure if this can/will ever happen when using the Laravel mailing system.

[2022-09-12 12:55] kverstae commented on #175
Do you mean the original class name? These are indeed still there and could maybe cause some issues if the mail client tries to interpret them with a css file it has somewhere (pure speculation, I have no idea how this works). This was also in the older versions of this package and didn't seem to cause any issues.

About the more complex mails. You could in theory build the mail from its raw Mime

[2022-09-13 10:02] sbaum2s commented on #201
I have the same issue. Having followed this guide

https://ralphjsmit.com/laravel-emails-tailwind-css

Maybe it would be easier to create a new laravel project just to showcase this plugin and put it on gibthub. Ultimately it looks like its either a path problem or kind of access denied. Because the file exists where the plugin tries to load it from.

[2022-09-13 12:35] DannyvdSluijs commented on #139
@Mushr0000m I'll close the issue for now. If you think this is incorrect and at any time want to revisit this issue feel free to open it.

[2022-09-13 12:35] #139 closed

[2022-09-13 12:36] DannyvdSluijs commented on #160
Closing based on the 👍🏼  emoji response on my previous comment by the reporter.

[2022-09-13 12:36] #160 closed

[2022-09-13 12:36] DannyvdSluijs commented on #165
@deevus I'll close the issue for now. If you think this is incorrect and at any time want to revisit this issue feel free to open it.

[2022-09-13 12:36] #165 closed

[2022-09-13 23:46] deevus commented on #165
Apologies for only getting back to this now. What I ended up doing was extending the `MailManager` class, injecting `CssInlinerPlugin`, and overriding the `createTransport` method.

[code]

I wish the Laravel developers would use DI more often. Hacks like this often have to be made to do things that should be easy.

[2022-09-14 12:00] sbaum2s commented on #201
@DannyvdSluijs i created a new Laravel 8 project and upgraded it to Laravel 9. And then i followed the above mentioned guide. The reason i upgraded to Laravel 9 is, because fedeisas css inliner requires Laravel 9 and the reason i started vith Laravel 8 is, the guide uses webpack and not vite(as is used in fresh Laravel 9 projects)

So here is the github repository:

https://github.com/sbaum2s/lara

[2022-09-17 19:45] ezzanox commented on #201
file_get_contents(/css/mail.css?id=0185a793cd0643ccb887f48b27d726e9): failed to open stream: No such file or directory

I'm having the same problem as above, can you help me?

[2022-09-23 14:25] it-dubbelglas commented on #175
I rely on this package for beautiful email. Please merge fix ❤️

[2022-09-29 16:45] mberneis commented on #201
Have the same issue - To circumvent I changed my css include to
[code]
Still a bug but at least this way it does inline

[2022-09-29 17:50] mberneis opened #255 "Failure to get CSS file in local SSL environments"
Error Message:
[code]
Running in a local `.test'` environment with SSL (Using Valet for local certificates)
These local test certificates are obviously not registered with any public certificate servers

[2022-10-04 17:22] gilbertogm85 opened #258 "Laravel 9 issue"
After I updated our project to laravel 9 and updated the package as well, on the method
(https://github.com/fedeisas/laravel-mail-css-inliner/blob/6140c59192ad8d44fe0338a19a1e2cadaff1f8b9/src/CssInlinerPlugin.php#L86-L96)

Our `body` is instance of `RelatedPart` which extends AbstractPart as well as AlternativePart. So we had to override the method to:

`} elseif ($body instanceof AbstractPart) {

[2022-10-06 06:46] wvanooijen92 commented on #175
Sorry for the late response, just got back from vacation.

And also the styling is in a style tag, this might not be a problem. Usually mail clients only checks inline styles, that's why I was surprised. I have not come across email clients that refuse to render the html because of it. To be honest, I think this package was doing it like this to begin with.

I wonder if there is a reason for worki

[2022-10-12 04:20] deevus opened #261 "Does not work with Symfony Postmark Mailer"
The Postmark Mailer calls `getTextBody()` and `getHtmlBody()` as shown here:

https://github.com/symfony/postmark-mailer/blob/5f38d688df43bea507bf0dfe0d0ca6f99221b708/Transport/PostmarkApiTransport.php#L89-L90

Under the hood those return return `$email->text` and `$email->html` which `CssInlinerPlugin` does not mutate when the `handleSymfonyMessage` method executes. It only mutates `$email->body`

[2022-10-12 04:26] deevus commented on #261
Additionally when the `Mailer` class adds content to the message, it uses the `html()` and `text()` methods

https://github.com/laravel/framework/blob/31091a54085101f743960c9ca013058028e6ea35/src/Illuminate/Mail/Mailer.php#L355-L368

[2022-10-17 14:41] mberneis commented on #255
I ended up not using the `laravel-mail-css-inliner` wrapper and wrote a custom artisan command to manually inline the css needed using the same library https://github.com/tijsverkoyen/CssToInlineStyles

[2022-10-21 10:05] iraklisg commented on #201
Unfortunately, this didn't work for me

[2022-10-21 12:35] fedeisas commented on #201
URLs are not paths. Please use a valid URL for your CSS files instead of paths.

[2022-11-15 22:41] HeadStudios opened #275 "This would be cool... (removing <style> tag)"
If you inline the styles removing the <style> tags after doing the inlining would be cool... like save a couple of KB maybe... or is that on the options if I do the second command? Thanks!